SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=football_db
DB_SSLMODE=disable

JWT_SECRET=supersecretjwtkey1234567890

ADMIN_SEED_EMAIL=admin@ayo.test
ADMIN_SEED_PASSWORD=ayoindonesiamaju123
ADMIN_SEED_NAME=Administrator

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
