# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/main

# Test binary
*.test

# Output
*.out

# Env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go workspace
go.work
go.work.sum

# Build output
/bin/
/dist/
